[SddmGreeterTheme]
Name=Kumuhana SDDM
Description=hyprlock styled kumuhana theme for SDDM
Type=sddm-theme
Version=2.1
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=kumuhana
Theme-API=2.0
QtVersion=6
